@model Person

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName} - detail";
}

<div class="card card-body">
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
    <p>@Model.DateOfBirth.ToShortDateString()</p>
</div>

<div class="card card-body">
    <div class="card-title">
        <h5>Adresa:</h5>
    </div>
    <p>@Model?.Address?.Street</p>
    <p>@Model?.Address?.City</p>
    <p>@Model?.Address?.ZipCode</p>
</div>

<div class="m-2">
    <a class="btn-info btn" asp-controller="Contract" asp-action="Create" asp-route-personid="@Model.Id" >Přidat smlouvu..</a>
</div>

@foreach(var contract in Model.Constracts)
{
    <div>@contract.Name - @contract.Number - @contract.Signed - @contract.IsActive <a class="text-danger danger" asp-controller="Contract" asp-action="Delete" asp-route-id="@contract.Id" asp-route-personid=@Model.Id>smazat</a></div>
}