@model List<Person>

@{
    ViewData["Title"] = "Seznam osob";
}
<div class="m-2">
    <a class="btn-info btn" asp-action="Add">Nová..</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Jméno</th>
            <th scope="col">Příjmení</th>
            <th scope="col">Email</th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @person.Id
                </td>
                <td>
                    @person.FirstName
                </td>
                <td>
                    @person.LastName
                </td>
                <td>
                    @person.Email
                </td>
                <td>
                    <a class="btn-info btn" asp-action="Edit" asp-route-Id="@person.Id">Editovat</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    @if (ViewBag?.Prev > 0)
    {
        <div class="col">
            <a asp-action="Index" asp-route-page="@ViewBag.Prev">Předchozí</a>
        </div>
    }
    @if (ViewBag?.ShowNext)
    {
        <div class="col">
            <a asp-action="Index" asp-route-page="@ViewBag.Next">Další</a>
    </div>
    }
</div>